body{
    padding: 0;
    height:100%;
    width: 100%;
}
/*-------Menu-----*/
.adminMenu{
    position:fixed;
    overflow: hidden;
    float: left;
    min-height: 600px;
    width: 14%;
    height: 100%;
    background: #000;
}
.adminMenu a{
    text-decoration: none;
}
.adminMenu ul{
    margin-top:20px;
    padding-left: 15%;
    list-style: none;
}
.adminMenu ul li{
    padding: 20px;
}
.adminMenu ul li:hover{
    background: #fff;
    cursor: pointer;
}
.adminMenu .fa{
    padding-right: 10px;
    font-size:20px;
}
/* Content*/
.adminContent{
    float: right;
    margin: 20px;
    width: 80%;
}
#dropzonePreview{
    display:inline-block;

}
td,th{
   text-align: center;
}
td img{
   width: 30px;
}
.imgSource img{
    width: 60px;
}
.oldImage img{
    width: 200px;
}
#zoomImg{
    position: absolute;
    background: rgba(35,35,35,0.5);
    display: none;
    opacity:0;
    overflow: hidden;
    width: 100%;
}
#zoomImg .zoomImgContent{
    right: 0;
    padding: 6% 8%;
    top: 0px;
    left: 5%;
    bottom: 0px;
    overflow: hidden;
}
#zoomImg img{
    width: 80%;
    max-height: 600px;
    margin-left: 15%;
}
.closeImg{
    right: 13%;
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: 0.8;
    position: absolute;
    cursor: pointer;
}