.rslides img{
    height: 280px;
}
.slider{
    height: 280px;

}
/*#isotop_filters span{*/
    /*display: block;*/
/*}*/

/*.isotop{*/
    /*width: 65%;*/
    /*float: right;*/
/*}*/
.container [class*="grid"]{
    margin-bottom: 4%;
}